#banner_boxes_menu_container {
	padding:20px 0 30px;

	a.button.active {
		background-color:#9fc820;
	}

	.field_container {
		margin-top:7px;

		input {
			vertical-align:top;
			margin:3px 0 0 5px;
		}
	}
}